<form class="pet-add-form" action="/api/pets" method="POST">
    <div class="input-group">
        <label for="name">Pet Name:</label>
        <input type="text"
        name="name"
        placeholder="Enter your pet's name!">
    </div>
    <div class="input-group">
        <label for="type">Pet Type:</label>
        <input type="text"
        name="type"
         placeholder="What type of animal is your pet?">
    </div>
     <div class="input-group">
        <label for="likes">Pet Likes:</label>
        <input type="text" 
        name="likes" 
        placeholder="What does your pet like?">
    </div>
    <div>
        <button class="btn">Submit</button>
    </div>
</form>
