<header>
  <a class="site-logo" href="/">
    Show off your Pet
  </a>
  {{#if isLoggedIn}}
    <a href="/api/logout">Logout</a>
  {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  {{/if}}
</header>
