<header>
  <a class="site-logo" href="/">
   Movie App
  </a>
  {{#if isLoggedIn}}
    <a href="/api/logout">Logout</a>
    <a href="/list">My List</a>
    <a href="/movies">Search Movies</a>
  {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  {{/if}}
</header>
