  {{!-- display placeholder kitten API photos --}}
  <div class="photos">
    <div class="card">
    <img src="http://placekitten.com/100/300">
    </div>
    <div class="card">
    <img src="http://placekitten.com/200">
    </div>
    <div class="card">
    <img src="http://placekitten.com/150/200">
    </div>
   <div class="card">
    <img src="http://placekitten.com/300/100">
    </div>
   <div class="card">
    <img src="http://placekitten.com/300">
    </div>
  <div class="card">
    <img src="http://placekitten.com/450/200">
    </div>
   <div class="card">
    <img src="http://placekitten.com/200/300">
    </div>
   <div class="card">
    <img src="http://placekitten.com/100">
    </div>
{{!-- display placeholder dog API photos --}}

    <div class="card">
    <img src="https://images.dog.ceo/breeds/sheepdog-shetland/n02105855_10995.jpg">
    </div>
    <div class="card">
    <img src="https://images.dog.ceo/breeds/spitz-japanese/tofu.jpg">
    </div>
    <div class="card">
    <img src="https://images.dog.ceo/breeds/groenendael/n02105056_3754.jpg">
    </div>
   <div class="card">
    <img src="https://images.dog.ceo/breeds/malinois/n02105162_2714.jpg">
    </div>
   <div class="card">
    <img src="https://images.dog.ceo/breeds/corgi-cardigan/n02113186_13413.jpg">
    </div>
  <div class="card">
    <img src="https://images.dog.ceo/breeds/mastiff-tibetan/n02108551_226.jpg">
    </div>
   <div class="card">
    <img src="https://images.dog.ceo/breeds/schipperke/n02104365_6927.jpg">
    </div>
   <div class="card">
    <img src="https://images.dog.ceo/breeds/appenzeller/n02107908_4402.jpg">
    </div>
  </div>