<form class="pet-add-form" action="/api/pets" method="POST">
    <div class="input-group">
        <input type="text"
        name="name"
        placeholder="Enter your pet's name!">
    </div>
    <div class="input-group">
        <input type="text"
        name="type"
         placeholder="What type of animal is your pet?">
    </div>
    <div class="input-group">
        <input type="text" 
        name="owner" 
        placeholder="Who owns your pet?">
    </div>
     <div class="input-group">
        <input type="text" 
        name="owner" 
        placeholder="Who owns your pet?">
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>