 {{> header}}
<main>
  <h2>Pet Gallery</h2>
  <button class="btn">
  <a href="/pets"  class="main-page">See Our Pets</a> 
</button>
  {{>photos}}
<button class="btn">
  <a href="/pets"  class="main-page">See Our Pets</a> 
</button>
</main>
<script>

</script>
 {{> header}}
<main>
  <h2>Pet Gallery</h2>
  <button class="btn">
  <a href="/pets"  class="main-page">See Our Pets</a> 
</button>
  {{>photos}}
<button class="btn">
  <a href="/pets"  class="main-page">See Our Pets</a> 
</button>
</main>
<script>

</script>