{{#if isLoggedIn}}
  {{> header}}
{{/if}}
{{#unless isLoggedIn}}
<a class="site-logo" href="/">
  <h1>Show Off Your Pet!</h1>
</a>
{{/unless}}
<main>
  <div>
  {{> cat}}
  </div>
<button class="btn">
  <a href="/pets"  class="main-page">See Our Pets</a> 
</button>
<div>
  {{>dog}}
</div>
</main>
<script>

</script>
