{{>header}}
<main>
    <h1>Title</h2>
    <section id="moviesList">
            <a href="/movies/{{id}}" class="listed-movie">
               <h2>title</h2> 
               <p>year</p>
               <p>rated</p>
               <p>runtime</p>
               <p>director</p>
               <p>plot</p>
            </a>
    </section>
</main>