{{> header}}
<main>
    <div>
        <h1>Title</h1>
        <p>Description</p>
            <form>
                <div>
                    <input 
                    type="text"
                    name="search"
                    id="movie-search"
                    class="movie-search"
                    placeholder="Enter Movie Title"
                    />
                    <button>Search</button>
                </div>
            </form>
            <div id="movie-div" class="movie-div">
            </div>
    </div>
    <button class="btn" id="main-btn" onclick="location.href='/list';">Add to List</button>
    <button class="btn" id="main-btn">Watched</button>
</main>
