{{> header}}
<a class="site-logo" href="/">
  <h1>Show Off Your Pet!</h1>
</a>
<main>
{{#if pets}}
  {{#each pets}}
  {{> info-individual}}
{{#if isCat}}
  {{> cat}}
{{/if}}
{{#if isDog}}
  {{> dog}}
{{/if}}
{{/each}}
{{else}}
<h3>No Pet Information Found</h3>
{{/if}}
<br />
</main>
<div class="form-div">
<h3>Feeling inspired? Add your pet below!</h3>
{{> form}}
</div>
