{{> header}}
<main>
<h1>Your Pets!</h1>
{{#each pets}}
<br />
  {{#if isCat}}
    {{> cat}}
  {{/if}}
  {{#if isDog}}
    {{> dog}}
  {{/if}}
  {{> info}}
<a class="display-pet-Link" href="/pets/{{_id}}"> See this pet's page here!</a>
<br />
{{/each}}
</main>